<!-- <form>
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control"name="NomRaisonSocial"  placeholder="Nom " #NomRaisonSocial="ngModel"[(ngModel)]="service.NomRaisonSocial">
    </div>
    </div>
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>  
        </div>
    </div>
        
        <input type="form-control" name="Prenom"  placeholder="Prenom" #Prenom="ngModel"[(ngModel)]="service.Prenom">
    </div>
    </div>
    
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name=" DateNaiss"  placeholder=" DateNaiss" #DateNaiss="ngModel"[(ngModel)]="service.DateNaiss">
    </div>
    </div>
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name="Lieu "  placeholder="Lieu " #Lieu ="ngModel"[(ngModel)]="service.Lieu ">
    </div>
    </div>
    
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name=" Nature "  placeholder=" Nature  " #Nature  ="ngModel"[(ngModel)]="service. Nature  ">
    </div>
    </div>
    
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name=" Classe"  placeholder=" Classe" #Classe ="ngModel"[(ngModel)]="service.Classe  ">
    </div>
    </div>
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name="Telephone "  placeholder="Telephone " #Telephone ="ngModel"[(ngModel)]="service.Telephone   ">
    </div>
    </div>
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name="Cin"  placeholder="Cin " #Cin="ngModel"[(ngModel)]="service.Cin  ">
    </div>
    </div>
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name="DelivreCin"  placeholder="DelivreCin" #DelivreCin="ngModel"[(ngModel)]="service.DelivreCin ">
    </div>
    </div>
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name="LieuCin"  placeholder="LieuCin" #LieuCin="ngModel"[(ngModel)]="service.LieuCin ">
    </div>
    </div>
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
    <input type="form-control" name="MatriculeFiscal"  placeholder="MatriculeFiscal" #MatriculeFiscal="ngModel"[(ngModel)]="service.MatriculeFiscal">
    </div>
    </div>
    
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name="AdressePhysique"  placeholder="AdressePhysique" #AdressePhysique="ngModel"[(ngModel)]="service.AdressePhysique ">
    </div>
    </div>
    
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name="Siege"  placeholder="Siege"#Siege="ngModel"[(ngModel)]="service.Siege ">
    </div>
    </div>
    <div class="form-group" >
        <div class="input-group">
    <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <i class="fas fa-user-circle"></i>
        </div>
    </div>
        
        <input type="form-control" name="MentionEnregistrement"  placeholder="MentionEnregistrement"  #MentionEnregistrement="ngModel"[(ngModel)]="service.MentionEnregistrement">
    </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i> Submit </button>
    </div>
    </form> 
     -->
